<div class="cadastro-container">
  <h1 class="cadastro-titulo">Registrar Empresa</h1>

  <form id="formulario">
    <div class="campos campos-1">
      <div class="campos-input">
        <label for="nomeInput">Nome</label>
        <input type="text" name="nomeInput" id="nomeInput">
      </div>
    </div>
    <div class="campos campos-2">
      <div class="campos-input">
        <label for="emailInput">Email</label>
        <input type="text" name="emailInput" id="emailInput">
      </div>
      <div class="campos-input">
        <label for="cnpjInput">CNPJ</label>
        <input type="text" name="cnpjInput" id="cnpjInput">
      </div>
    </div>
    <div class="campos campos-3">
      <div class="campos-input">
        <label for="paisInput">País</label>
        <input type="text" name="paisInput" id="paisInput">
      </div>
      <div class="campos-input">
        <label for="estadoInput">Estado</label>
        <input type="text" name="estadoInput" id="estadoInput">
      </div>
      <div class="campos-input">
        <label for="cepInput">CEP</label>
        <input type="text" name="cepInput" id="cepInput">
      </div>
    </div>
    <div class="campos campos-1">
      <div class="campos-input">
        <label for="descricaoTextArea">Descrição</label>
        <textarea rows="3" name="descricaoTextArea" id="descricaoTextArea"></textarea>
      </div>
    </div>

    <div class="cadastro-btns">
      <a href="#" class="cadastro-btn btn-voltar">Voltar</a>
      <button type="submit" class="cadastro-btn btn-submeter">Submeter</button>
    </div>
  </form>
</div>