<div class="cadastro-container">
  <h1 class="cadastro-titulo">Registrar Candidato(a)</h1>

  <form id="formulario">
    <div class="campos campos-1">
      <div class="campos-input">
        <label for="nomeInput">Nome</label>
        <input type="text" name="nomeInput" id="nomeInput">
        <span hidden class="error" id="nomeError">Nome inválido</span>
      </div>
    </div>
    <div class="campos campos-2">
      <div class="campos-input">
        <label for="emailInput">Email</label>
        <input type="text" name="emailInput" id="emailInput">
        <span hidden class="error" id="emailError">Email inválido</span>
      </div>
      <div class="campos-input">
        <label for="cpfInput">CPF</label>
        <input type="text" name="cpfInput" id="cpfInput">
        <span hidden class="error" id="cpfError">CPF inválido</span>
      </div>
    </div>
    <div class="campos campos-3">
      <div class="campos-input">
        <label for="paisInput">País</label>
        <input type="text" name="paisInput" id="paisInput">
      </div>
      <div class="campos-input">
        <label for="estadoInput">Estado</label>
        <input type="text" name="estadoInput" id="estadoInput">
      </div>
      <div class="campos-input">
        <label for="cepInput">CEP</label>
        <input type="text" name="cepInput" id="cepInput">
        <span hidden class="error" id="cepError">CEP inválido</span>
      </div>
    </div>
    <div class="campos campos-1">
      <div class="campos-input">
        <label for="competenciasSelect">Competências</label>
        <select name="competenciasSelect" class="select-select2" id="competenciasSelect" multiple="multiple"></select>
      </div>
    </div>
    <div class="campos campos-1">
      <div class="campos-input">
        <label for="descricaoTextArea">Descrição</label>
        <textarea rows="3" name="descricaoTextArea" id="descricaoTextArea"></textarea>
      </div>
    </div>

    <div class="cadastro-btns">
      <a href="index.html" class="cadastro-btn btn-voltar">Voltar</a>
      <button type="submit" class="cadastro-btn btn-submeter">Submeter</button>
    </div>
  </form>
</div>