<div class="cadastro-container">
    <h1 class="cadastro-titulo">Registrar Vaga</h1>

    <form id="formulario">
        <div class="campos campos-1">
            <div class="campos-input">
                <label for="nomeInput">Nome</label>
                <input type="text" name="nomeInput" id="nomeInput">
            </div>
        </div>
        <div class="campos campos-1">
            <div class="campos-input">
                <label for="competenciasSelect">Competências</label>
                <select name="competenciasSelect" class="select-select2" id="competenciasSelect" multiple="multiple"></select>
            </div>
        </div>

        <div class="cadastro-btns">
            <a href="index.html" class="cadastro-btn btn-voltar">Voltar</a>
            <button type="submit" class="cadastro-btn btn-submeter">Submeter</button>
        </div>
    </form>
</div>