<div class="tabela-header">
    <h1 class="tabela-titulo">Vagas Cadastradas</h1>
</div>
<table>
    <thead>
    <tr>
        <th>Nome</th>
        <th>Competências Desejadas</th>
        <th>Opção</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td data-label="Nome">tarefa</td>
        <td data-label="Competências Desejadas">
            <div class="table-competencias">
                <span class="table-competencia">Groovy</span>
                <span class="table-competencia">Java</span>
            </div>
        </td>
        <td data-label="Opção">
            <div class="btns">
                <a href="#" class="btn btn-curtir">Visualizar</a>
            </div>
        </td>
    </tr>
    <tr>
        <td data-label="Nome">Vaga pada data science aplicado a SaS com Phyton</td>
        <td data-label="Competências Desejadas">
            <div class="table-competencias">
                <span class="table-competencia">Phyton</span>
                <span class="table-competencia">SaS</span>
                <span class="table-competencia">SaS</span>
                <span class="table-competencia">SaS</span>
                <span class="table-competencia">SaS</span>
                <span class="table-competencia">SaS</span>
                <span class="table-competencia">SaS</span>
                <span class="table-competencia">SaS</span>
            </div>
        </td>
        <td data-label="Opção">
            <div class="btns">
                <a href="#" class="btn btn-curtir">Visualizar</a>
            </div>
        </td>
    </tr>
    </tbody>
</table>