<div class="perfil-atributo perfil-nome">
    <span class="perfil-label label-nome">Nome: </span>
    <span class="input-nome">Ronan</span>
</div>
<div class="perfil-atributo perfil-email">
    <span class="perfil-label label-email">Email: </span>
    <span class="input-email">ronan.junior@gmail.com</span>
</div>
<div class="perfil-atributo perfil-cpf">
    <span class="perfil-label label-cpf">CPF: </span>
    <span class="input-cpf">8451234710234</span>
</div>
<div class="perfil-atributo perfil-pais">
    <span class="perfil-label label-pais">País: </span>
    <span class="input-pais">Brasil</span>
</div>
<div class="perfil-atributo perfil-estado">
    <span class="perfil-label label-estado">Estado: </span>
    <span class="input-estado">Goiás</span>
</div>
<div class="perfil-atributo perfil-cep">
    <span class="perfil-label label-cep">CEP: </span>
    <span class="input-cep">74706290</span>
</div>
<div class="perfil-atributo perfil-descricao">
    <span class="perfil-label label-descricao">Descrição: </span>
    <span class="input-descricao">Oi, meu nome é Ronan</span>
</div>
<div class="perfil-atributo perfil-competencias">
    <span class="perfil-label label-competencias">Competências: </span>
    <div class="input-competencias">
        <span class="input-competencia">Groovy</span>
        <span class="input-competencia">Typescript</span>
        <span class="input-competencia">JavaScript</span>
    </div>
</div>
