<div class="cadastro-container">
  <h1 class="cadastro-titulo">Login</h1>

  <form id="formulario">
    <div class="campos campos-1">
      <div class="campos-input">
        <label for="emailInput">Email</label>
        <input type="text" name="emailInput" id="emailInput">
        <span hidden class="error" id="emailError">Email inválido</span>
      </div>
    </div>

    <div class="cadastro-btns">
      <a href="index.html" class="cadastro-btn btn-voltar">Voltar</a>
      <button type="submit" class="cadastro-btn btn-submeter">Submeter</button>
    </div>
  </form>
</div>